{% extends "layout.html" %}
{% block content %}
    <h1>Consumer</h1>
    <table class="table">
        <tr>
            <th>Symbol</th>
            <th>Mark</th>
            <th>% Gain/Loss</th>
        </tr>
        <tr>
            <td>CL</td>
            <td>$74.56</td>
            <td>-0.76%</td>
        </tr>
        <tr>
            <td>COST</td>
            <td>$553.38</td>
            <td>0.11%</td>
        </tr>
        <tr>
            <td>PG</td>
            <td>$148.96</td>
            <td>-0.79%</td>
        </tr>
        <tr>
            <td>TGT</td>
            <td>$219.42</td>
            <td>-0.57%</td>
        </tr>
        <tr>
            <td>WMT</td>
            <td>$144.70</td>
            <td>-0.15%</td>
        </tr>
    </table>
    <h1>Healthcare</h1>
    <table class="table">
        <tr>
            <th>Symbol</th>
            <th>Mark</th>
            <th>% Gain/Loss</th>
        </tr>
        <tr>
            <td>ABT</td>
            <td>$121.53</td>
            <td>0.27%</td>
        </tr>
        <tr>
            <td>CI</td>
            <td>$242.53</td>
            <td>0.066%</td>
        </tr>
        <tr>
            <td>MRK</td>
            <td>$78.91</td>
            <td>-0.038%</td>
        </tr>
        <tr>
            <td>PFE</td>
            <td>$54.02</td>
            <td>-0.41%</td>
        </tr>
        <tr>
            <td>UNH</td>
            <td>$503.02</td>
            <td>-0.79%</td>
        </tr>
    </table>
    <h1>Technology</h1>
    <table class="table">
        <tr>
            <th>Symbol</th>
            <th>Mark</th>
            <th>% Gain/Loss</th>
        </tr>
        <tr>
            <td>AAPL</td>
            <td>$162.04</td>
            <td>0.88%</td>
        </tr>
        <tr>
            <td>FB</td>
            <td>$212.76</td>
            <td>2.37%</td>
        </tr>
        <tr>
            <td>GOOGL</td>
            <td>$2686.30</td>
            <td>0.36%</td>
        </tr>
        <tr>
            <td>MSFT</td>
            <td>$296.99</td>
            <td>0.60%</td>
        </tr>
        <tr>
            <td>NVDA</td>
            <td>$261.44</td>
            <td>5.56</td>
        </tr>
        <tr>
            <td>TSLA</td>
            <td>$894.67</td>
            <td>2.61%</td>
        </tr>
    </table>
{% endblock content %}
