{% extends "layout.html" %}
{% block content %}
    <h1>Welcome to Jackpot!</h1>
    <body>
        <p>Things you can do on our website:</p>
        <p><a href="{{ url_for('login') }}">Log into your account</a></p>
        <p><a href="{{ url_for('register') }}">Create an account</a></p>
        <p><a href="{{ url_for('news') }}">Read up on the latest news</a></p>
        <p><a href="{{ url_for('stocksPage') }}">Check out stocks</a></p>
        <p><a href="{{ url_for('groups') }}">Check out stock groups</a></p>
        <p><a href="{{ url_for('portfolios') }}">View your portfolios</a></p>
    </body>
{% endblock content %}
