{% extends "layout.html" %}
{% block content %}
    <table class="table">
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Source</th>
        <th>Title</th>
      </tr>
      <tr>
        <td>1/31/2022</td>
        <td>2 min ago</td>
        <td>New York Times</td>
        <td>Breaking news: Bitcoin goes negative!</td>
      </tr>
      <tr>
        <td>1/31/2022</td>
        <td>34 min ago</td>
        <td>The Economist</td>
        <td>SpaceX may be sending rockets to space, but TSLA is reaching the moon</td>
      </tr>
      <tr>
        <td>1/30/2022</td>
        <td>1 day ago</td>
        <td>Wall Street Journal</td>
        <td>Mark Zuckerberg joins TikTok, Facebook stock plummets</td>
      </tr>
    </table>
{% endblock content %}
