{% extends "layout.html" %}
{% block content %}
    <h1>AAPL</h1>
    <body>
        <table class="table">
            <tr>
              <th>Company Name</th>
              <th>Sector</th>
              <th>Mark</th>
              <th>% Gain/Loss</th>
              <th>52 Week Performance</th>
              <th>Latest News</th>
            </tr>
            <tr>
              <td>AAPL</td>
              <td>Technology</td>
              <td>$162.04</td>
              <td>0.88%</td>
              <td>7.45%</td>
              <td>New iPad Micro has the same size as the iPhone 13!</td>
            </tr>
          </table>
    </body>
{% endblock content %}
